{% extends 'dashboard/base.html' %}

{% block title %}User Debug Info{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>User Debug Information</h1>
            
            <div class="card">
                <div class="card-body">
                    <h5>User Information:</h5>
                    <ul>
                        <li><strong>Username:</strong> {{ user.username|default:"Not logged in" }}</li>
                        <li><strong>Is Authenticated:</strong> {{ user.is_authenticated|yesno:"Yes,No" }}</li>
                        <li><strong>Is Staff:</strong> {{ user.is_staff|yesno:"Yes,No" }}</li>
                        <li><strong>Is Superuser:</strong> {{ user.is_superuser|yesno:"Yes,No" }}</li>
                        <li><strong>Has Profile:</strong> 
                            {% if user.profile %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </li>
                        {% if user.profile %}
                        <li><strong>Profile Role:</strong> {{ user.profile.role }}</li>
                        <li><strong>Is Admin:</strong> {{ user.profile.is_admin|yesno:"Yes,No" }}</li>
                        <li><strong>Is Manager:</strong> {{ user.profile.is_manager|yesno:"Yes,No" }}</li>
                        <li><strong>Can Delete:</strong> {{ user.profile.can_delete|yesno:"Yes,No" }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
            <div class="card mt-3">
                <div class="card-body">
                    <h5>Template Tests:</h5>
                    <p><strong>user.is_authenticated:</strong> {{ user.is_authenticated }}</p>
                    <p><strong>user.profile.is_admin:</strong> 
                        {% if user.profile.is_admin %}
                            TRUE - Delete button should show
                        {% else %}
                            FALSE - Delete button should NOT show
                        {% endif %}
                    </p>
                    
                    <p><strong>Combined condition (user.is_authenticated and user.profile.is_admin):</strong>
                        {% if user.is_authenticated and user.profile.is_admin %}
                            TRUE - Delete button should show
                        {% else %}
                            FALSE - Delete button should NOT show
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
