{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}Edit Category{% else %}Add Category{% endif %} - Inventory Plus
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm animate__animated animate__fadeInUp">
                <div class="card-header">
                    <h5 class="mb-0">
                        <i class="bi bi-{% if object %}pencil{% else %}plus-circle{% endif %} me-2"></i>
                        {% if object %}Edit Category{% else %}Add New Category{% endif %}
                    </h5>
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
